<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_TYmOJgLFBqkJIdFi5lGQfFhbxB04fwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>82267455961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clearsocial.name</string>
	<key>PROJECT_ID</key>
	<string>hello-e79ba</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-e79ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82267455961:ios:c881e7aa4bf1c5dbaf59c8</string>
</dict>
</plist>